body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(to right, #fdfbfb, #ebedee);
  color: #333;
}
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
